.item, .aprove{
  margin: 20px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background: #DBE2EF;
  border-radius: 8px;
}
.aprove{
  color: rgb(114, 114, 114);
  background: #7c91b8;

}
.titleItem{
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: inherit;

}

.item input, .aprove input{
  margin: 0 15px;
  width: 25px;
  height: 25px;
  border-radius: 8px;
}
.delete{
  transform: rotate(45deg);
}
